html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  background-image: url("https://www.xtrafondos.com/wallpapers/rick-y-morty-en-el-espacio-6046.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#about-div {
  display: flex;
  flex-direction: column;
  align-items: center; /* Centra todos los elementos horizontalmente */
  background-image: url("https://cdn.pixabay.com/photo/2023/08/14/15/42/milkyway-8190232_1280.jpg");
}

#enunciado {
  text-align: center;
  margin: 10px;
  text-shadow: 2px 1px 1px blue;
  color: aliceblue;
  font-family: 'Times New Roman', Times, serif;
  
}

#imagenRick {
  width: 100%;
  max-width: 600px;
  border-radius: 20px;
  height: auto;
  margin: 10px;
}

#descripcion {
  text-align: justify;
  max-width: 800px; 
  width: 100%;
  background-color: rgba(255, 255, 255, 0.4);
  padding: 25px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 20px 0; 
  filter: drop-shadow(11px 5px 10px #000000);
  align-self: center; 
  font-family: 'Times New Roman', Times, serif;
}
