.Card {
    display: flex;
    justify-content: center;
    align-content: center;
    margin: 20px;
    padding-left: -200%;
    transition: box-shadow 0.3s ease-in-out;;
}

.Card:hover {
  box-shadow: 0 10px 40px rgba(0, 214, 252, 0.4); /* Sombra más intensa al pasar el cursor */
}

#imagen{
    display: flex;
    justify-content: center;
    align-content: center;
}

.nombre-cardContend{
    font: 1em times;
    text-align: center;
    text-shadow: 2px 1px 1px rgb(44, 244, 9);
}
#details{
    visibility: hidden;
}

.details.hide {
    display: none;
  }
  
  .details.show {
    display: block;
  }
  

